html {
	overflow-y: scroll;
}

body {
	background-color: #1f1d36;
	color: #ffffff;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

pre, code {
	margin: 0;
}

a {
	color: #005386;
}

#header a, #menu a {
	text-decoration: none;
}

#menu {
	clear: both;
	color: #1f1d36;
	overflow: hidden;
	background-color: #1f1d36;
	padding: 0.7ex;
	border-top: 1px solid #1f1d36;
	border-bottom: 1px solid #4d4c76;
}

#menu a {
	padding: 0.5ex 1ex;
	color: #ffffff;
}

#menu a:hover {
	background-color: #a9a9c5;
}

#header {
	background-color: #151424;
	clear: both;
	color: #ffffff;
	font-size: 1.78em;
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}

#headerLink {
	color: #ffffff;
	margin-left: 5px;
}
a {color: royalblue; }
a:hover {color: lightblue; }

.entry {
	border-left: 10px solid #4d4c76;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	background-color: #a9a9c5;
	}

.entry h2 { margin: 5px auto 2px auto; }
h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.4em;
	color: #151424;
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.3em;
	color: #000000;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
	color: #000000;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 0.9em;
	color: #000000;
}

#headerSubtitle {
	font-size: 0.75em;
	font-style: italic;
	margin-left: 1em;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
	/*background-color: #fff;
	overflow: hidden;*/
}



#main {
	margin: auto;
	max-width: 50em;
	padding: 1.5em;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}
